# Ignore artifacts
node_modules/
.next/
dist/
build/
coverage/
.cache/

# Ignore Python and Data
apps/ml/
data/seeds/
*.csv

# Ignore Supabase config
supabase/

# Ignore Python, YAML and MD files
*.py
*.pyc
*.yml
*.yaml
*.md
package-lock.json
